<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cisetech.animationdemo">

    <permission
        android:name="com.cisetech.animationdemo.test"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.cn.customview.permissions.MY_BROADCAST" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.cn.customview.permissions.MY_BROADCAST"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.BasicAnimXmlActivity1" />
        <activity android:name=".demo.BasicAnimActivity2" />
        <activity android:name=".demo.InterpolatorActivity3" />
        <activity android:name=".demo.InterpolatorActivity3_alpha" />
        <activity android:name=".demo.InterpolatorActivity3_rotate" />
        <activity android:name=".demo.InterpolatorActivity3_translate" />
        <activity android:name=".demo.InterpolatorActivity3_scale" />
        <activity
            android:name=".demo.InterpolatorActivity3_test"
            android:exported="true"
            android:permission="com.cisetech.animationdemo.test">
            <intent-filter>
                <action android:name="com.yqy" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.practise.BasicPractiseActivity1" />
        <activity android:name=".demo.practise.TestActivity" />
        <activity android:name=".demo.PropertyAnimActivity4" />
        <activity android:name=".demo.PropertyAnimActivity4_compare" />
        <activity android:name=".demo.practise.PropertyAnimActivity4_evaluator"></activity>
    </application>

</manifest>